$base-color: #00d3b5;
$page-color: #f6f6f6;

button {
    color: white;
    background-color: $base-color;
    padding: 1em 2em;
    border: none;
    border-radius: 20px;
    font-size: 15px;
}

h1 {
    font-size: 45px;
    font-weight: 1000;
    line-height: 1.1;
}

.color-main {
    color: $base-color;
}

.background-main {
    background: $base-color;
}

.Features, .AboutUs, .GetInTouch {
 background-color: $page-color;
}

a {
    text-decoration: none;
    color: black;
}

p {
    color: #6e7881;
    font-size: 15px;
    line-height: 25px;
}