//@import '../fonts/icomoon/font/_flaticon.scss';
//@import '../fonts/icomoon/icomoon.scss';
@import './Navbar.scss';
@import './Home.scss';
@import './Common.scss';
@import './Features.scss';
@import './Card.scss';
@import './Create.scss';
@import './AboutUs.scss';
@import './Testimonials.scss';
@import './Slides.scss';
@import './GetInTouch.scss';
@import './Copyright.scss';
@import './animations.scss';


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #FAFBFC;
    scroll-behavior: smooth;
}

body {
    height: 100%;
    font-family: 'Flaticon', sans-serif;
    overflow-x: hidden;
}
.root {
    height: 100%;
    background: white;
}

.App {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}

