//@import '../fonts/icomoon/font/_flaticon.scss';
//@import '../fonts/icomoon/icomoon.scss';
// font-family: 'icomoon';
// font-family: "Flaticon";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #FAFBFC;
}

body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}
.root {
    height: 100%;
}

.App {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(99, 14, 14);
    height: 100%;
}
