.Home {
    margin-top: 4em;
    h2 {
        text-align: center;
        font-size: 29px;
    }
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 6em;
        img {
            width: 54%;
            position: relative;
            left: 17%;
            top: -5em;
        }
        .get-started {
            width: 20%;
            position: relative;
            left: 5%;
            top: -4em;
            p {
                width: 102%;
                margin-bottom: 2.5em;
                margin-top: 1em;
                line-height: 26px;
            }
        }
    }
}