.Slides {
    img {
        width: 12%;
        border-radius: 50%;
    }
    p {
        font-size: 2em;
        width: 89%;
        line-height: 1.5;
        font-style: italic;
    }
    b {
        color: black;
    }
}